.section {
  padding: 80px 0 100px;
}

.section-intro {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 180px 0 170px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 28, 62, 0.64);
    z-index: 1;
  }
}

.intro {
  &__body {
    position: relative;
    z-index: 2;
  }

  &__title {
    width: 100%;
    max-width: 670px;
  }

  &__pgh {
    margin-top: 5px;
  }
}

.section-title {
  color: $ctaColor;

  &__small {
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 15px;
    padding: 0;
  }

  &__head {
    color: $darkFontColor;
    font-size: calc-em(40px);
    line-height: 1.25;

    @include rwd(768px) {
      font-size: calc-em(30px);
    }

    @include rwd(500px) {
      font-size: calc-em(26px);
    }

    &--light {
      color: $primaryFontColor;
    }
  }
}

.about__pgh {
  padding: 35px 0 0 20px;

  @include rwd(992px) {
    padding: 35px 0 0;
  }
}

.about__row {
  margin-top: 80px;
  margin-bottom: 65px;
}

.box-icon {
  background-color: #f0f0f0;
  color: $darkFontColor;
  padding: 40px 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;

  &__image {
    margin-bottom: 20px;
    height: 60px;
    width: auto;
  }
}

.about__details {
  background-image: url("../images/about@2x.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0 50px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 28, 62, 0.9);
    z-index: 1;
  }

  @include rwd(1400px) {
    background-image: url("../images/about.png");
  }
}

.details {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include rwd(992px) {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  &__list {
    list-style: none;
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    padding-right: 20px;
    align-self: flex-end;

    @include rwd(992px) {
      align-self: flex-start;
      padding-right: 0;
    }

    &--right {
      padding-left: 40px;

      @include rwd(992px) {
        padding-left: 0;
      }
    }
  }

  &__element {
    margin-bottom: 8px;
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      width: 16px;
      height: 12px;
      display: block;
      position: absolute;
      left: 0;
      top: 7px;
      background-image: url("../images/Icon_awesome-check.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.baner {
  color: #fff;
  text-align: center;
  padding: 45px 85px 40px;
  background-color: $thirdBgColor;
  margin: 100px 0 80px;

  @include rwd(992px) {
    padding: 45px 50px 40px;
  }

  &--team {
    margin: 20px 0 0;
  }

  &__text {
    font-size: calc-em(30px);
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 18px;
    padding: 0;
  }
}

.section-about {
  padding-bottom: 0;
}

.section-prices {
  padding-top: 0;
}

.section-team {
  position: relative;
  background-color: $secondBgColor;
  padding-top: 50px;

  @include rwd(992px) {
    padding-top: 0;
  }
}

.half-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  @include rwd(992px) {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.half-img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.team-text {
  padding: 0 20px 50px;

  @include rwd(992px) {
    padding: 50px 20px 0;
  }
}

.team-pgh {
  margin-top: 30px;
}

.section-slider {
  background-color: #f0f0f0;
  color: $halfDarkFontColor;
  padding-bottom: 15px;
}

.glide {
  padding-bottom: 50px;
}

.testimonial {
  width: 100%;
  padding-right: 75px;
  display: block;
  position: relative;
  padding-top: 0;

  &--even {
    padding-right: 0;
    padding-left: 75px;

    @include rwd(992px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 16px;
    height: 16px;
    background: url("../images/cs.svg") center center/contain no-repeat;
  }

  @include rwd(992px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
