.btn {
  border-radius: 100px;
  background-color: $ctaColor;
  border: none;
  color: $primaryFontColor;
  cursor: pointer;
  text-decoration: none;
  padding: 11px 40px;
  transition: all 200ms ease;
  font-size: calc-em(16px);
  font-weight: 500;
  font-family: inherit;

  &:hover {
    color: $ctaColor;
    background-color: $primaryFontColor;
  }

  &--tel {
    background-image: url("../images/tele.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 35px center;
    padding: 12px 40px 12px 65px;

    &:hover {
      opacity: 1;
      background-image: url("../images/tele2.svg");
      color: $ctaColor;
      background-color: $primaryFontColor;
    }
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid $primaryFontColor;
  }
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 50px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $ctaColor;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
