.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
  color: #d8000c;
  background-color: #ffbaba;
  border: 0;
  padding: 10px;
}

.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #4f8a10;
  background-color: #dff2bf;
  border: 0;
  padding: 10px;
}
