* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  background: $primaryBgColor;
  font-family: $primaryFont;
  font-size: $baseFontSize;
  color: $primaryFontColor;
  margin: 0;
  padding: 0;
}
