@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap&subset=latin-ext");

html,
body {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 500;
}

// Header Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;

  a {
    font-weight: inherit;
  }
}

p {
  margin-bottom: $pad;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bold; }
.uppercase { text-transform: uppercase; }
