// Navigation
.brand {
  color: $primaryFontColor;
  font-size: calc-em(40px);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 150ms ease;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $primaryFontColor;
    transition: width 250ms ease;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 10px;

  &__target {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__element {
    margin-right: 50px;

    & > a {
      color: $primaryFontColor;
      text-decoration: none;
      transition: color 200ms ease;

      &:hover {
        color: $ctaColor;
      }
    }
  }
}
