// Fonts
$primaryFont: "Ubuntu", sans-serif;

// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;

// Colors
$primaryFontColor: #fff;
$hoverFontColor: #3a79f9;
$darkFontColor: #171a1e;

$primaryBgColor: #fff;
$secondBgColor:#151c3e;
$thirdBgColor: #3a79f9;

$ctaColor: #3a79f9;

// Spacing
$pad : 1em;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;

